<!-- <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50%"  fxFlexOffset="10px">Item 4</div>
  <div class="item item-5" fxFlex="10%">Item 5</div>
</div>

 -->


 <div
 class="container"
 fxLayout
 fxLayoutAlign="start start"
 fxLayoutGap="10px"
 fxLayoutGap.xs="0"
>
<div fxFlex="50%" fxFlexOffset="1%" class="feature-box feature-box-red">
  <h2>Total Bookings</h2>
<p>0</p>
</div>

<div fxFlex="50%" fxFlexOffset="1%" class="feature-box feature-box-green">
    <h2>Todays Bookings</h2>
  <p>0</p>
  </div>
 </div>
