<div class="container" fxLayout fxLayoutAlign="start start" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="50%" fxFlexOffset="1%" class="feature-box feature-box-green">
    <h2>Total Bookings</h2>
    <p>0</p>
  </div>

  <div fxFlex="50%" fxFlexOffset="1%" class="feature-box feature-box-red">
    <h2>Todays Bookings</h2>
    <p>0</p>
  </div>
</div>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bookings</mat-card-title>
      <mat-card-subtitle>Latest Bookings</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      TO DISPLAY LATEST BOOKINGS
    </mat-card-content>
  </mat-card>
</div>
